@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scrollbar-width: none;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background: #cdffbe;
    padding: 1rem;
}

#show-education {
    align-items: center;
    justify-content: center;
    display: grid;
}

.container {
    padding: 2rem;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    display: grid;
    background-color: white;
    box-shadow: 1px 1px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 180vh;
    margin-top: 1rem;
}

header {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.imgdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ew {
    width: 20rem;
    height: 20rem;
}

.draggable {
    width: 150px;
    height: 150px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    line-height: 150px;
    position: absolute;
    cursor: move;
    border-radius: 10px;
    font-size: 18px;
}

.container-of-game {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(208, 208, 208);
    padding: 2rem;
    border-radius: 2rem;
}

.box {
    width: 45%;
    height: 200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    /* Stack items vertically */
}

.box-name {
    position: absolute;
    top: 5px;
    /* Adjust as needed */
    left: 5px;
    /* Adjust as needed */
    font-weight: bold;
    /* Make the name bold */
    font-size: 18px;
    /* Adjust font size as needed */
}


#div1 {
    background-color: #fffc50;
    width: 10rem;
}

#div2 {
    background-color: #3b9dff;
    width: 10rem;
}

.draggable {
    width: 100px;
    height: 100px;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 100px;
    cursor: move;
    border-radius: 5px;
    transition: background-color 1s ease;
    z-index: 1000;
}

#timer {
    width: 100px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#message {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: green;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: green;
    border-radius: 1rem;
    color: white;
    border: none;
}

#game {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#game-cont {
    width: 100%;
    height: 100%;
}

.iframe-container {
    overflow: hidden;
}